// COLORS
$primary-color: #55C57A;
$light-color: #7ED56F;
$dark-color: #28B485;

$dark-grey: #777;
$white: #FFF;
$black: #000;

// GRIDS
$grid-width: 114rem;
$vertical-gutter: 8rem;
$horizontal-gutter: 6rem;